*{
 box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#c6d2b8;
}

.nav{
  min-height: 40px;
  background-color: #000 ;
  text-align: center;
  padding:30px;
  font-weight: 600;
}

.logo {
  color: #ffc184;
  border: 2px solid white;
  display: inline;
  padding: 5px;
}

.logo:hover{
  padding: 10px;
  background-color: white;
  border:4px solid #FEFAB6;
}

a{
  text-decoration: none;
  color: #FEFAB6 ;
}

.menu{
  display: flex;
  flex-flow: row;
  color: #ffc184 ;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}

.li{
  padding:10px;
}



.name{
  display: block;
  margin-right: auto;
}

header{
  width: 100%;
  height: 800px;
  background-image: url('https://i.ytimg.com/vi/nEu9A9yNgXs/maxresdefault.jpg');
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header img{
  border-radius: 50%;
  border: 5px solid #000 ;
  transition: all .5s;
  width: auto;
  margin: auto;
}

.img{
   height: 500px;
   width: 800px;
}

header img:hover {
   transform: scale(1.2) rotate(20deg);
}

.character{
  border-radius: 50%;
  border: 5px solid #000 ;
  transition: all .5s;
  box-shadow: 5px 20px 20px #000 ;
  width: 350px;
  height: 500px;
}

.tag{
  background-color:#FEFAB6;
  margin: 10px  auto;
  padding: 10px;
  border-radius:10px;
}

.sub-title{
  background-color: #ffc184 ;
}

.content{
  display: flex;
  flex-flow:row;
  margin: 0 auto;
  justify-content: space-around;
}

.card{
  max-width: 500px;
  margin: 10px;
  padding: 50px;
  box-shadow: 5px 15px 20px #000;
}

.tag-list{
  display: flex;
  flex-flow: row;
  list-style-type: none;
  color: #000;
}
.tag-orange{
  background-color: #ffc082;
  }

.tag-orange:hover{
  padding: 15px;
   background-color: #000;
 }

 .transition{
   transition: padding 0.3s ease-out, background-color 1s ease;
 }

.tag-darkorange{
  background-color:#ffaa56;
  }

.tag-darkorange:hover{
  padding: 15px;
   background-color: #000;
 }

.tag-lightorange{
  background-color: #f7820f;
}

.tag-lightorange:hover{
  padding: 15px;
   background-color: #000;
 }


footer{
  text-align: center;
  padding: 3px;
  border: 10px;
  background: #000
}

.footer{
  color: #fff;
}
